$header-footer-background: #005BD6;
$light-text-color: #F2F2F2;
$dark-text-color: #4F4F4F;
$green-text-color: #003a18;
$red-text-color: #680000;
$blue-text-color: #003275;
$button-remove-background: rgb(255, 232, 232);
$button-add-background: rgb(223, 255, 236);
$button-remove-background-hover: rgb(231, 119, 119);
$button-add-background-hover: rgb(46, 185, 102);
$interval-background: #F2F2F2;
$start-date-background: #A3F1C4;
$end-date-background: #FFC2C2;